<template>
  <form @submit.prevent.stop="login" class="modal is-active">
    <div class="modal-background" @click.prevent="$router.push('/fotodenuncia')"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Acceder</p>
        <button
          class="delete"
          @click.prevent="$router.push('/fotodenuncia')"
          aria-label="close"
        ></button>
      </header>
      <section class="modal-card-body">
          <div class="field">
            <label class="label">Correo electrónico</label>
            <div class="control">
              <input class="input" v-model="fd.email" type="email" />
            </div>
          </div>
          <div class="field">
            <label class="label">Contraseña</label>
            <div class="control">
              <input class="input" v-model="fd.password" type="password" />
            </div>
          </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button" @click.prevent="$router.push('/fotodenuncia')">Cancel</button>
      </footer>
    </div>
  </form>
</template>

<script>
import http from '../../../plugins/http'
import { mapMutations } from "vuex";
export default {
  head() {
    return {
      title: "Acceder - Foto denuncia",
    };
  },
  data() {
    return {
      fd: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    ...mapMutations(['loginInfo']),
    async login() {
      const login = await http.post('/auth/login', this.fd)
      this.loginInfo(login.data)
      http.defaults.headers.authorization = login.data.token
      const verifreq = await http.get('/auth/verify', this.fd)
      this.$router.push('/fotodenuncia')
    }
  }
};
</script>