<template>
  <form @submit.prevent="register" class="modal is-active">
    <div class="modal-background" @click.prevent="$router.push('/fotodenuncia')"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Registrarse</p>
        <button
          class="delete"
          @click.prevent="$router.push('/fotodenuncia')"
          aria-label="close"
        ></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control">
            <input class="input" v-model="fd.name" />
          </div>
        </div>
        <div class="field">
          <label class="label">Apellidos</label>
          <div class="control">
            <input class="input" v-model="fd.surname" />
          </div>
        </div>
        <div class="field">
          <label class="label">NIF (Documento Nacional de Identidad)</label>
          <div class="control">
            <input class="input" v-model="fd.nif" />
          </div>
        </div>
        <div class="field">
          <label class="label">Correo electrónico</label>
          <div class="control">
            <input class="input" v-model="fd.email" type="email" />
          </div>
        </div>
        <div class="field">
          <label class="label">Contraseña</label>
          <div class="control">
            <input class="input" v-model="fd.password" type="password" />
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button type="submit" class="button is-success">Save changes</button>
        <button class="button" @click.prevent="$router.push('/fotodenuncia')">Cancel</button>
      </footer>
    </div>
  </form>
</template>

<script>
import http from '../../../plugins/http'
export default {
  head() {
    return {
      title: "Registrarse - Foto denuncia",
    };
  },
  data() {
    return {
      fd: {
        name: "",
        surname: "",
        nif: "",
        email: "",
        password: ""
      },
    };
  },
  methods: {
    async register() {
      console.log("registrandose", this.fd);
      const login = await http.post("/auth/register", this.fd);
      this.$router.push('/fotodenuncia')
    },
  },
};
</script>