<template>
  <form @submit.prevent="login" class="modal is-active">
    <div class="modal-background" @click="$router.go(-1)"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Subir foto</p>
        <button
          class="delete"
          @click="$router.go(-1)"
          aria-label="close"
        ></button>
      </header>
      <section class="modal-card-body">
        <div>
          <div class="field">
            <label class="label">Título</label>
            <div class="control">
              <input class="input" v-model="fd.title" />
            </div>
          </div>
          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <input class="input" v-model="fd.description" />
            </div>
          </div>
          <div class="field">
            <label class="label">Imagen</label>
            <div class="control">
              <input class="input" @change="setfile" type="file" />
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button" @click="$router.go(-1)">Cancel</button>
      </footer>
    </div>
  </form>
</template>

<script>
import http from '../../../plugins/http'

export default {
  head() {
    return {
      title: "Subir foto - Foto denuncia",
    };
  },
  data() {
    return {
      fd: {
        title: '',
        description: '',
        file: null
      }
    }
  },
  computed: {
    formData() {
      const fd = new FormData()
      fd.append('title', this.fd.title)
      fd.append('description', this.fd.description)
      fd.append('image', this.fd.file)
      return fd
    }
  },
  methods: {
    setfile(e) {
      this.fd.file = e.target.files[0]
    },
    async login() {
      await http.post('/upload', this.formData)
    }
  }
};
</script>