---
layout: default
title: About
permalink: /about/
margined: true
---

<div class="content">
    <h1>Lo que hacemos</h1>
    <div class="column is-6 is-offset-3 stories">
        <div class="story" id="globalgoal">
            <h2>Objetivo general</h2>
            <p>
                Eliminar las barreras arquitectónicas para que la ciduad de Alicante
                sea accesible para todos sus habitantes y motivar a todas las personas
                con discapacidad física de sus posibilidades para que aumenten su
                autoestima desarrollando su autonomía personal.
            </p>
        </div>
    
        <div class="story" id="specgoal">
            <h2>Objetivos espécificos</h2>
        
            <ul>
                <li>
                    Ayudar a todos los socios a eliminar sus propias barreras
                    arquitectónicas de su vida cotidiana como pueden ser su domicilio,
                    en su centro escolar, en su trabajo, en sus actividades de ocio,
                    etc..
                </li>
                <li>
                    Promover actividades culturales y deportivas orientadas a conseguir
                    la inclusión social
                </li>
                <li>
                    Divulgar los problemas a los que se enfrentan este colectivo para
                    mejorar sus actividades de la vida diaria
                </li>
            </ul>
        </div>
    
        <div class="story" id="actividades">
            <h2>Actividades</h2>
            <ul>
                <li>
                    Que toda la ciudad tenga sus respectivas rampas normalizadas segun
                    la legislación vigente
                </li>
                <li>Que el transporte público este bien adaptado</li>
                <li>
                    Las entidades públicas ofrezcan el acceso necesario para poder
                    entrar sin dificultad
                </li>
                <li>
                    Los establecimiento de ocio y consumo como: cines, teatros, cafés,
                    restaurantes, centros culturales, museos, etc, cumplan con la
                    normativa de eliminación de barreras arquitectónicas
                </li>
                <li>
                    Las personas respeten los aparcamientos reservdos para las personas
                    con discapacidad física
                </li>
                <li>
                    Educar a los niños sobre la discapacidad física para asegurar un
                    futuro basado en un excelente cocmportamiento cívico con este
                    colectivo
                </li>
                <li>
                    Ayudar a las personas con discapacidad física a eliminarlas de su
                    propia casa o portería
                </li>
                <li>
                    Procurar que las escuelas, institutos y universidades conozcan como
                    eliminar las posibles barreras
                </li>
            </ul>
            <p>
        
                Promover cualquier tipo de actividad que suponga la promoción de las
                personas con discapacidad y su plena integración en la sociedad en
                todos los ámbitos de su vida: educación y cultura, formación, empleo,
                sanidad, ocio, etc...
            </p>
        </div>
    </div>


</div>

<div class="column is-6 is-offset-3 nav-buttons tres">
    <a class="nav-button-stories" href="#globalgoal">Objetivo general</a>
    <a class="nav-button-stories" href="#specgoal">Objetivos espécificos</a>
    <a class="nav-button-stories" href="#actividades">Actividades</a>
</div>