---
layout: default
title: Nuestra historia
permalink: /stories/
---

<div class="content">
    <h1> Acerca de nosotros</h1>
    <div class="column is-6 is-offset-3 stories">
        <div class="story" id="nosotros">
            <h2>¿Quienes somos?</h2>

            <p>
                Somos personas con discapacidad física y voluntarios de Alicante que
                deseamos eliminar los obstáculos en nuestra vida cotidiana. Las
                dificultades de barreras de caracter urbanístico y en otros ámbitos
                de la vida diaria, en la que no favorece el dessarrollo personal en
                el entorno mas inmediato, por ese motivo creamos ADIFIA, como medio
                de representación de toddas las personas de la ciudad de Alicante
            </p>
        </div>

        <div class="story" id="razon">
            <h2>¿Por que se creó?</h2>
            <p>
                Adifia se creo con el deseo de eliminar tanto las barreras
                arquitectónicas y sociales, en las que se incluyen a todas las
                personsa con discapacidades físicas. Dando respuesta a la solución
                de sus problemas en su domicilio y su ciudad.
            </p>
        </div>
        <div class="story" id="members">
            <h2>¿Quienes pueden ser socios?</h2>
            <p>
                Todas las personas con discapacidad física o sin ella, que estén
                interesados en colaborar con nosotros, estas pueden ser:
            </p>

            <ul>
                <li>Las personas con discapacidad física</li>
                <li>Los voluntarios</li>
                <li>Los colaboradores</li>
                <li>Patrocinadores y simpatizantes</li>
            </ul>
        </div>

        <div class="story" id="finalidad">
            <h2>Finalidad</h2>
            <p>
                Aunar los esfuerzos y reivindicaciones de todas las personas con
                discapacidad física de la ciudad de alicante, para dar a conocer la
                problemática con la que se encuentra este colectivo y actuar en
                consecuencia
            </p>
        </div>
    </div>
</div>

<div class="column is-6 is-offset-3 nav-buttons dos">
    <a class="nav-button-stories" href="#nosotros">Nosotros</a>
    <a class="nav-button-stories" href="#razon">Razón</a>
    <a class="nav-button-stories" href="#members">Miembros</a>
    <a class="nav-button-stories" href="#finalidad">Finalidad</a>
</div>