---
# Necessary
---
.navbar-adifia {
    position: fixed;
    top: 0px;
    width: 100%;
}


.stories {
    .story {
        display: none;
        &:target {
            display: block;
        }
    }
}

.nav-buttons {
    display: grid;
    gap: 20px;
    &.dos {
        grid-template-columns: repeat(2, 1fr);
    }
    &.tres {
        grid-template-columns: repeat(3, 1fr);
    }
    .nav-button-stories {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 150px;
        background: steelblue;
        transition: all .2s;
        &:hover {
            transform: scale(1.06);
        }
    }
}


#hero-adifia {
    background: url('/assets/hero-bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    .vertical-aligned {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fade {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
    .imgs-container {
        img {
            max-height: 250px;
        }
        .column {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
