<template>
    <section :class="`hero hero-carousel is-medium is-info carousel-item hided`">
        <div class="fade"></div>
      <div class="hero-body">
          <section class="centered">
                <div class="content">
                <h3 class="title">{{ title }}</h3>
                <div>
                    <slot />
                </div>
                </div>
          </section>
      </div>
    </section>
</template>

<script>
export default {
  props: {
    title: { type: String },
  },
};
</script>
<style>
h3 {
    text-align: center;
}
.carousel-item {
    display: block;
    height: 500px;
}
.carousel-item.hided {
    display: none;
}

@media screen and (min-width: 1024px) {
    .centered {
        width: 60%;
        margin: 0 auto;
    }
}
.hero.hero-carousel {
    background-image: url('https://images.pexels.com/photos/4778611/pexels-photo-4778611.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    position: relative;
    z-index: -1;
    background-position: center;
    background-size: cover;
}
.hero-carousel:nth-child(1) {
    background-image: url('~/assets/carousel/slide-1.jpg');
}
.hero-carousel:nth-child(2) {
    background-image: url('~/assets/carousel/slide-2.jpg');
    background-position: top;
}
.hero-carousel:nth-child(3) {
    background-image: url('~/assets/carousel/slide-3.jpg');
    background-position: top;
}
.hero-carousel:nth-child(4) {
    background-image: url('~/assets/carousel/slide-4.jpg');
}

.hero.hero-carousel .fade {
    background: rgba(0, 0, 0, 0.74);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}
.hero.hero-carousel h3, .hero.hero-carousel p, .hero.hero-carousel li {
    color: white !important;
}
</style>