<template>
  <section class="section">
    <div class="carousel">
        <div class="carousel-slides">
            <carousel-item title="¿Quienes somos?">
            <p>
                Somos personas con discapacidad física y voluntarios de Alicante que
                deseamos eliminar los obstáculos en nuestra vida cotidiana. Las
                dificultades de barreras de caracter urbanístico y en otros ámbitos
                de la vida diaria, en la que no favorece el dessarrollo personal en
                el entorno mas inmediato, por ese motivo creamos ADIFIA, como medio
                de representación de toddas las personas de la ciudad de Alicante
            </p>
            </carousel-item>
            <carousel-item title="¿Por que se creó?">
            <p>
                Adifia se creo con el deseo de eliminar tanto las barreras
                arquitectónicas y sociales, en las que se incluyen a todas las
                personsa con discapacidades físicas. Dando respuesta a la solución
                de sus problemas en su domicilio y su ciudad.
            </p>
            </carousel-item>
            <carousel-item title="¿Quienes pueden ser socios?">
            <p>
                Todas las personas con discapacidad física o sin ella, que estén
                interesados en colaborar con nosotros, estas pueden ser:
            </p>
            <ul>
                <li>Las personas con discapacidad física</li>
                <li>Los voluntarios</li>
                <li>Los colaboradores</li>
                <li>Patrocinadores y simpatizantes</li>
            </ul>
            </carousel-item>
            <carousel-item title="Finalidad">
            <p>
                Aunar los esfuerzos y reivindicaciones de todas las personas con
                discapacidad física de la ciudad de alicante, para dar a conocer la
                problemática con la que se encuentra este colectivo y actuar en
                consecuencia
            </p>
            </carousel-item>
        </div>
        <div class="control-panel">
            <span class="playpause" @click="paused = !paused"><i :class="`fas fa-${paused ? 'play' : 'pause'}-circle`"></i></span>
            <span @click="changeTo('back')" class="button-bf back"><a><i class="fas fa-arrow-circle-left"></i></a></span>
            <div ref="pages" class="pages">
                <span class="page-button" v-for="i in slides.length" :key="i" @click="() => goto(i - 1)"> {{i}} </span>
            </div>
            <span @click="changeTo('next')" class="button-bf forward"><a><i class="fas fa-arrow-circle-right"></i></a></span>
        </div>
    </div>
  </section>
</template>

<script>
import CarouselItem from "./CarouselItem.vue";
export default {
  components: { CarouselItem },
  data() {
      return {
            pauseHover: false,
            pauseInfo: false,
            pauseType: 'is-primary',
            interval: 4000,
            index: 0,
            slides: [],
            interval: null,
            paused: false
      }
  },
  mounted() {
      this.runInterval()
    this.slides = this.$el.querySelectorAll('.carousel-item')
      this.slides[this.index].classList.remove('hided')
      this.$nextTick(() => {
          console.log(this.$refs['pages'].children[this.index].classList.add('active'))
      })
  },
  methods: {
      runInterval() {
          const self = this

        this.interval = setInterval(() => {
            if (self.paused) return
            this.index = this.nextSlide
        }, 4000);
      },
      changeTo(elect) {
          clearInterval(this.interval)
          this.index = elect === 'back' ? this.backSlide : this.nextSlide
            this.runInterval()
      },
      goto(i) {
          clearInterval(this.interval)
          this.index = i
          if (!this.paused) {
              this.runInterval()
          }
      }
  },
  computed: {
      nextSlide() {
          if (!this.slides) return
          if (this.index < (this.slides.length - 1)) {
                return this.index + 1
            } else {
                return 0
            }
      },
      backSlide() {
          if (!this.slides) return
          if (this.index <= 0) {
                return this.slides.length - 1
            } else {
                return this.index - 1
            }
      },
  },
  watch: {
      index(newv, oldv) {
          this.slides[newv].classList.remove('hided')
          this.slides[oldv].classList.add('hided')

          this.$refs['pages'].children[newv].classList.add('active')
          this.$refs['pages'].children[oldv].classList.remove('active')
      }
  }
};
</script>

<style>

.carousel {
    position: relative;
}
.carousel .button-bf {
    transition: all .2s;
    opacity: 0;
}
.carousel:hover .button-bf {
    opacity: 1;
}
.button-bf {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
}
.button-bf a {
    color: white !important;
}
.button-bf.back {
    left: 20px;
}
.playpause {
    font-size: 36px;
    cursor: pointer;
}
.button-bf.forward {
    right: 20px;
}
.control-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 20px;
    align-items: center;
}

.page-button {
    display: inline-block;
    padding: 5px;
    margin: 0px 10px;
    border: 1px solid;
    color: rgb(43, 43, 43);
    border-radius: 5000px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s;
}

.page-button:hover, .page-button.active {
    background-color: rgb(43, 43, 43);
    color: white;
    border: none;
}

</style>