<template>
    <section class="section">
        <h2 class="title is-2 has-text-centered">Caracteristicas</h2>
        <div class="features">
            <feature title="asasdssd" subtitle="jnjnj" />
            <feature title="asasdssd" subtitle="jnjnj" />
            <feature title="asasdssd" subtitle="jnjnj" />
            <feature title="asasdssd" subtitle="jnjnj" />
            <feature title="asasdssd" subtitle="jnjnj" />
            <feature title="asasdssd" subtitle="jnjnj" />
        </div>
    </section>
</template>

<script>
import Feature from './Feature.vue'
export default {
    components: {Feature}
}
</script>


<style scoped>
@media screen and (min-width: 768px) {
    .features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    .features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
</style>