<template>
    <div class="block">
        <div class="container">
            <h3 class="title is-3">Subtitle</h3>
            <p>Lorem ipsum dolor sit amet amet amet</p>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {type: String, required: true},
        subtitle: {type: String, required: true},
    }
}
</script>

<style scoped>
h3, p {text-align: center;}
</style>