<template>
    <div class="container story">
        <div class="hero">
            <div class="columns story-content">
                <div class="column">
                    <slot />
                </div>
                <div class="column img-content">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        img: {type: String, required: true},
        width: {type: Number, default: 200},
    }
}
</script>


<style scoped>
@media screen and (min-width: 1024px) {
    .story .story-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .story:nth-child(odd) .story-content {
        flex-direction: row-reverse;
    }
}

.story {
    margin-top: 4em;
    margin-bottom: 4em;
}
</style>