<template>
  <section class="section stories-container">
      <h2 class="title is-2 has-text-centered">Lo que hacemos</h2>
    <story
      img="https://image.freepik.com/vector-gratis/plantilla-logotipo-sonrisa_8163-40.jpg"
    >
      <div class="content">
        <h3 class="title is-3">Objetivo general</h3>
        <p>
          Eliminar las barreras arquitectónicas para que la ciduad de Alicante
          sea accesible para todos sus habitantes y motivar a todas las personas
          con discapacidad física de sus posibilidades para que aumenten su
          autoestima desarrollando su autonomía personal.
        </p>
      </div>
    </story>
    <story
      img="https://image.freepik.com/vector-gratis/plantilla-logotipo-sonrisa_8163-40.jpg"
    >
      <div class="content">
        <h3 class="title is-3">Objetivos específicos</h3>
        <ul>
          <li>
            Ayudar a todos los socios a eliminar sus propias barreras
            arquitectónicas de su vida cotidiana como pueden ser su domicilio,
            en su centro escolar, en su trabajo, en sus actividades de ocio,
            etc..
          </li>
          <li>
            Promover actividades culturales y deportivas orientadas a conseguir
            la inclusión social
          </li>
          <li>
            Divulgar los problemas a los que se enfrentan este colectivo para
            mejorar sus actividades de la vida diaria
          </li>
        </ul>
      </div>
    </story>
    <story
    :width="400"
      img="https://image.freepik.com/vector-gratis/plantilla-logotipo-sonrisa_8163-40.jpg"
    >
      <div class="content">
        <h3 class="title is-3">Actividades</h3>
        <ul>
          <li>
            Que toda la ciudad tenga sus respectivas rampas normalizadas segun
            la legislación vigente
          </li>
          <li>Que el transporte público este bien adaptado</li>
          <li>
            Las entidades públicas ofrezcan el acceso necesario para poder
            entrar sin dificultad
          </li>
          <li>
            Los establecimiento de ocio y consumo como: cines, teatros, cafés,
            restaurantes, centros culturales, museos, etc, cumplan con la
            normativa de eliminación de barreras arquitectónicas
          </li>
          <li>
            Las personas respeten los aparcamientos reservdos para las personas
            con discapacidad física
          </li>
          <li>
            Educar a los niños sobre la discapacidad física para asegurar un
            futuro basado en un excelente cocmportamiento cívico con este
            colectivo
          </li>
          <li>
            Ayudar a las personas con discapacidad física a eliminarlas de su
            propia casa o portería
          </li>
          <li>
            Procurar que las escuelas, institutos y universidades conozcan como
            eliminar las posibles barreras
          </li>
        </ul>

        <p>
          Promover cualquier tipo de actividad que suponga la promoción de las
          personas con discapacidad y su plena integración en la sociedad en
          todos los ámbitos de su vida: educación y cultura, formación, empleo,
          sanidad, ocio, etc...
        </p>
      </div>
    </story>
  </section>
</template>

<script>
import Story from "./Story.vue";
export default {
  components: { Story },
};
</script>

<style>
.stories-container > .story .img-content {
}
.stories-container > .story:nth-of-type(1) .img-content {
    background: url('~/assets/stories/story-1.jpg');
    height: 400px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.stories-container > .story:nth-of-type(2) .img-content {
    background: url('~/assets/stories/story-2.jpg');
    height: 400px;
    background-position: center;
    background-size: cover;
    position: relat
}
.stories-container > .story:nth-of-type(3) .img-content {
    background: url('~/assets/stories/story-3.jpg');
    height: 400px;
    background-position: center;
    background-size: cover;
    position: relat
}

</style>