<!DOCTYPE html>
<html lang="en">
<head>
    {%- include head.html -%}
</head>
<body>
    {%- include header.html -%}
    
    {% if page.margined %}
    <div style="margin-top: 60px;" class="container">
        {{ content }}
    </div>
    {% endif %}
    
    {% unless page.margined %}
    {{ content }}
    {% endunless %}
</body>
</html>