<template>
  <div class="section">
    <h2 class="title is-2">Listado de articulos {{ totalItems }}</h2>
    <div v-for="article in articles" :key="article._id">
      <h3 class="title is-4">aaa {{ article.title }}</h3>
      <div class="content">
        <div v-html="article.body"></div>
      </div>
    </div>

    <nav
      class="pagination is-centered"
      role="navigation"
      aria-label="pagination"
    >
      <a @click="page == 1 ? 1 : (page -= 1)" class="pagination-previous"
        >Previous</a
      >
      <a
        @click="page === totalPages ? totalPages : (page += 1)"
        class="pagination-next"
        >Next page</a
      >

      <ul class="pagination-list">
        <li v-if="page > 2" @click="page = 1">
          <a class="pagination-link" aria-label="Goto page 1">1</a>
        </li>
        <li v-if="page > 3" @click="page = 1">
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li v-if="page > 1" @click="page -= 1">
          <a class="pagination-link" :aria-label="`Goto page ${page - 1}`">{{
            page - 1
          }}</a>
        </li>
        <li>
          <a
            class="pagination-link is-current"
            :aria-label="`Page ${page}`"
            aria-current="page"
            >{{ page }}</a
          >
        </li>
        <li v-if="totalPages - page > 0" @click="page += 1">
          <a class="pagination-link" :aria-label="`Goto page ${page + 1}`">{{
            page + 1
          }}</a>
        </li>
        <li v-if="totalPages - page > 2">
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li v-if="totalPages - page > 1" @click="page = totalPages">
          <a class="pagination-link" aria-label="Goto page 86">{{
            totalPages
          }}</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import http from "../plugins/http";
export default {
  head() {
    return {
      title: "Blog",
    };
  },
  data() {
    return {
      articles: [],
      page: 1,
      totalItems: 0,
    };
  },
  async fetch() {
    console.log("consiguiendo articulos");
    const articles = await http.get("/articles");
    console.dir(articles);
    this.articles = articles.data.items;
    this.totalItems = articles.data.totalItems;
  },
  computed: {
    totalPages() {
      return Math.ceil(this.totalItems / 10);
    },
  },
  watch: {
    async page(newv) {
      const articles = await http.get("/articles?page=" + newv);
      this.articles = articles.data.items;
      window.scrollTo(0, 0);
    },
  },
};
</script>