<template>
    <div>
        <hero />
        <carousel />
        <stories />
    </div>
</template>

<script>
import Hero from '../components/layouts/Hero.vue'
import Features from '../components/Features.vue'
import Stories from '../components/Stories.vue'
import Carousel from '../components/Carousel.vue'
export default {
    head() {
        return {
            title: 'Pagina principal'
        }
    },
    components: {Hero, Features, Stories, Carousel}
}
</script>