<header class="navbar is-primary navbar-adifia">
        <div class="navbar-brand">
            <span class="navbar-item">
                <h1 class="title is-3 has-text-white">
                    <a class="has-text-white" href="/">Adifia</a>
                </h1>
            </span>
            <span class="navbar-burger" data-target="navbarMenuHeroC">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-end">
                <a href="/stories#nosotros" class="navbar-item">
                    Nuestra historia
                </a>
                <a href="/about#globalgoal" class="navbar-item">
                    Acerca de
                </a>
            </div>
        </div>
</header>