<template>
    <div>
        <navbar :title="'Adifia'" />
        <main>
            <nuxt />
        </main>
        <footer class="footer has-background-primary-dark has-text-white">
            <div class="columns">
                <div class="column is-four-fifths-tablet">
                    <div class="columns">
                        <div class="column">
                            <h2 class="title is-4 has-text-white">Documentos</h2>
                        </div>
                        <div class="column">
                            <h2 class="title is-4 has-text-white">Enlaces</h2>
                        </div>
                        <div class="column">
                            <h2 class="title is-4 has-text-white">Contacto</h2>
                            <ul>
                                <li>Correo:
                                    <a class="has-text-link has-text-info" style="font-weight: bold;" href="mailto:dfadifia@gmail.com">
                                        dfadifia@gmail.com</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column" style="display: flex; justify-content: flex-end;">
                    <img src="~/assets/cartel.jpg" width="250">
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
import Navbar from '../components/layouts/Navbar.vue'
export default {
    components: {Navbar}
}
</script>

<style scoped>
main {
    box-sizing: border-box;
    min-height: 90vh;
}
footer {
    padding-bottom: 10px;
}
</style>