<template>
    <section class="hero is-primary is-fullheight hero-adifia">
        <div class="fade"></div>
    <div class="hero-body">
        <div class="container is-max-desktop">
            <div class="columns">
                <div class="column vertical-aligned">
                    <div class="container has-text-centered">
                        <p class="title">
                            Si no brillas no ganas
                        </p>
                        <p class="subtitle">
                            Asociación de Discapacitados Físicos de Alicante
                        </p>
                    </div>
                </div>
                <div class="column is-tablet">
                    <div class="container has-text-centered">
                        <img src="~/assets/adifia.png" width="200">
                    </div>
                </div>
            </div>
            <div class="columns imgs-container">
                <div class="column">
                    <img src="~/assets/disc6.jpg"/>
                </div>
                <div class="column">
                    <img src="~/assets/disc16.jpg">
                </div>
                <div class="column">
                    <img src="~/assets/disc17.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li><a>Cocemfe</a></li>
                </ul>
            </div>
        </nav>
    </div>
    </section>
</template>

<script>
import Carousel from '../Carousel.vue'
export default {
    components: {Carousel}
}
</script>

<style scoped>
.vertical-aligned {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-adifia {
    background: url('~/assets/hero-bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-adifia .fade {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.imgs-container img {
    max-height: 250px;
}
.imgs-container .column {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>