<template>
    <header class="navbar is-primary navbar-adifia">
            <div class="navbar-brand">
                <span class="navbar-item">
                    <h1 class="title is-3 has-text-white">
                        <nuxt-link class="has-text-white" to="/">{{title}}</nuxt-link>
                    </h1>
                </span>
                <span class="navbar-burger" data-target="navbarMenuHeroC">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
                <div class="navbar-end">
                    <nuxt-link to="/articles" class="navbar-item">
                        Blog
                    </nuxt-link>
                    <nuxt-link to="/fotodenuncia" class="navbar-item">
                        Foto denuncia
                    </nuxt-link>
                </div>
            </div>
    </header>
</template>
<script>
export default {
    props: {
        title: {type: String, required: true}
    }
}
</script>

<style scoped>

</style>