<template>
  <div>
    <div class="columns">
      <div class="column">
        <h2 class="title is-3">Fotos</h2>
      </div>
      <div class="column">
        <div class="is-flex is-justify-content-flex-end">
          <div class="buttons">
            <template v-if="token">
              <b-button
              @click="logout"
                class="button"
                >logout</b-button
              >
              <b-button
                tag="router-link"
                to="/fotodenuncia/upload"
                class="button is-primary"
                >Subir foto</b-button
              >
            </template>
            <template v-else>
              <b-button
                tag="router-link"
                to="/fotodenuncia/register"
                class="button"
                >Register</b-button
              >
              <b-button
                tag="router-link"
                to="/fotodenuncia/login"
                class="button is-primary"
                >Login</b-button
              >
            </template>
          </div>
        </div>
      </div>
    </div>
    <nuxt />
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  computed: {
    ...mapState(["token"]),
  },
  methods: {
      ...mapMutations(['logout'])
  },
  head() {
    return {
      title: "Foto denuncia",
    };
  },
};
</script>